<div class="tituloPagina">
  {{ Titulo }} <small>{{ TituloAccionABMC[AccionABMC] }}</small>
</div>

<!-- Formulario Filtro de busqueda, se ve cuando la accion es Listado(busqueda/listado)-->
<form name="FormBusqueda" [formGroup]="FormBusqueda" *ngIf="AccionABMC == 'L'">
  <div class="container-fluid">
    <!-- Botones -->
    <div class="row justify-content-center botones">
      <button type="button" class="btn btn-primary" (click)="Buscar()">
        <i class="fas fa-search"> </i> Buscar
      </button>
      <button type="button" class="btn btn-primary" (click)="Agregar()">
        <i class="fas fa-plus"> </i> Agregar
      </button>
    </div>
  </div>
</form>

<!-- Tabla de resutados de busqueda-->
<div id="divTablaResultados" *ngIf="AccionABMC == 'L' && Items?.length > 0">
  <table class="table table-hover table-sm table-bordered table-striped">
    <thead>
      <tr>
        <th class="text-center">Id</th>
        <th class="text-center">Nombre</th>
        <th class="text-center">Fecha de Nacimiento</th>
        <th class="text-center">Telefono</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Item of Items">
        <td class="text-right">{{ Item.IdContacto }}</td>
        <td class="text-right">{{ Item.Nombre | uppercase }}</td>
        <td class="text-right">
          {{ Item.FechaNacimiento | date: 'dd/MM/yyyy' }}
        </td>
        <td class="text-right">{{ Item.Telefono }}</td>
        <td class="text-center text-nowrap">
          <button
            class="btn btn-sm btn-outline-primary"
            title="Consultar"
            (click)="Consultar(Item)"
          >
            <i class="fas fa-eye"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!--No se encontraron registros-->
<div
  class="alert alert-info mensajesAlert"
  *ngIf="AccionABMC == 'L' && Items?.length == 0"
>
  <i class="fas fa-exclamation-sign"></i>{{ Mensajes['SD'] }}
  <!-- texto: No se encontraron registros -->
</div>

<!-- Registro en Alta,Modificacion y Consulta -->
<form name="FormRegistro" [formGroup]="FormRegistro" *ngIf="AccionABMC != 'L'">
  <div class="container-fluid">
    <fieldset [disabled]="AccionABMC === 'C'">
      <!--campo nombre-->
      <div class="row">
        <div class="col-sm-4 col-md-3 offset-md-1">
          <label class="col-form-label" for="Nombre"
            >Nombre<span class="text-danger">*</span>:</label
          >
        </div>
        <div class="col-sm-8 col-md-6">
          <input
            type="text"
            class="form-control"
            formControlName="Nombre"
            [ngClass]="{
              'is-invalid':
                (FormRegistro.controls.Nombre.touched || submitted) &&
                FormRegistro.controls.Nombre.errors
            }"
          />

          <div
            class="validacion"
            *ngIf="
              (FormRegistro.controls.Nombre.touched || submitted) &&
              FormRegistro.controls.Nombre.errors?.required
            "
          >
            Dato requerido.
          </div>
          <div
            class="validacion"
            *ngIf="
              (FormRegistro.controls.Nombre.touched || submitted) &&
              (FormRegistro.controls.Nombre.errors?.minlength ||
                FormRegistro.controls.Nombre.errors?.maxlength)
            "
          >
            Dato texto, 4 a 55 caracteres.
          </div>
        </div>
      </div>

      <!--campo fechaNacimiento-->
      <div class="row">
        <div class="col-sm-4 col-md-3 offset-md-1">
          <label class="col-form-label"
            >Fecha de Nacimiento<span class="text-danger">*</span>:
          </label>
        </div>
        <div class="col-sm-8 col-md-6">
          <input
            class="form-control"
            formControlName="FechaNacimiento"
            name="FechaNacimiento"
            [ngClass]="{
              'is-invalid':
                (FormRegistro.controls.FechaNacimiento.touched || submitted) &&
                FormRegistro.controls.FechaNacimiento.errors
            }"
          />

          <div
            class="validacion"
            *ngIf="
              (FormRegistro.controls.FechaNacimiento.touched || submitted) &&
              FormRegistro.controls.FechaNacimiento.errors?.required
            "
          >
            Dato requerido.
          </div>
          <div
            class="validacion"
            *ngIf="
              (FormRegistro.controls.FechaNacimiento.touched || submitted) &&
              FormRegistro.controls.FechaNacimiento.errors?.pattern
            "
          >
            Dato fecha, formato dd/mm/aaaa.
          </div>
        </div>
      </div>

      <!--campo telefono-->
      <div class="row">
        <div class="col-sm-4 col-md-3 offset-md-1">
          <label class="col-form-label" for="Stock">
            Telefono<span class="text-danger">*</span>:
          </label>
        </div>
        <div class="col-sm-8 col-md-6">
          <input
            type="text"
            name="Telefono"
            class="form-control"
            formControlName="Telefono"
            [ngClass]="{
              'is-invalid':
                (FormRegistro.controls.Telefono.touched || submitted) &&
                FormRegistro.controls.Telefono.errors
            }"
          />
          <div
            class="validacion"
            *ngIf="
              (FormRegistro.controls.Telefono.touched || submitted) &&
              FormRegistro.controls.Telefono.errors?.required
            "
          >
            Dato requerido.
          </div>
          <div
            class="validacion"
            *ngIf="
              (FormRegistro.controls.Telefono.touched || submitted) &&
              FormRegistro.controls.Telefono.errors?.pattern
            "
          >
            Dato numérico, 9 dígitos como máximo.
          </div>
        </div>
      </div>
    </fieldset>

    <!-- Botones Grabar, Cancelar/Volver' -->
    <hr />
    <div class="row justify-content-center botones">
      <button
        type="button"
        *ngIf="AccionABMC !== 'C'"
        class="btn btn-primary"
        (click)="Grabar()"
      >
        <i class="fas fa-check"></i> Grabar
      </button>
      &nbsp;
      <button type="button" class="btn btn-warning" (click)="Volver()">
        <i class="fas fa-undo"></i>
        {{ AccionABMC == 'C' ? 'Volver' : 'Cancelar' }}
      </button>
    </div>

    <!--texto: Revisar los datos ingresados...-->
    <div
      *ngIf="submitted && FormRegistro.invalid"
      class="row alert alert-danger mensajesAlert"
    >
      <i class="fas fa-exclamation-sign"></i>{{ Mensajes['RD'] }}
    </div>
  </div>
</form>
